<header>
	<div class="nav">
		<h1 class="nav-elem">Поребрик</h1>
		<div class="nav-elem">
			<button (click)="openFormEvent()">
				Создать событие
			</button>
		</div>
		<nav class="nav-elem">
			<input class="menu-btn" type="checkbox" id="menu_btn" />
			<label class="menu-icon" for="menu_btn">
				<span class="navicon"></span>
			</label>
			<ul class="menu">
				<li *ngFor="let item of listNavigation">
					<a
						[routerLink]="[item.routingName]"
						[routerLinkActive]="['active-link']"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						{{ item.name }}
					</a>
				</li>

				<li class="hidden">
					<button (click)="openAuthModal()">Войти</button>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div>
	<ng-container #modalForm></ng-container>
</div>
