@use '../../../../variables.scss' as Variables;
@use '../../../../mixins.scss' as Mixins;

header {
	@include Mixins.flex-align-center;
	background: #fff;
	min-height: 68px;

	div {
		@include Mixins.flex-space-between;
		align-items: center;
		padding: 5px 20px 6px 20px;
		width: 100%;
	}

	nav {
		margin-right: 18px;
		ul {
			@include Mixins.flex-space-between;
			.navigation-link {
				display: flex;
				min-width: 100px;
				font-weight: 700;
				font-size: 0.875rem;
				line-height: 1.0625rem;
				li {
					@include Mixins.flex-center-vertical-horizontal;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.create-event {
		border: 1px solid #000;
		background: #fff;
		border-radius: 15px;
		width: 165px;
		height: 30px;
		margin: auto;
	}

	.btn-exit {
		width: 78px;
		height: 25px;
		border: none;
		font-weight: 700;
	}
}

.active-link {
	color: Variables.$gray-50;
}
