<div class="card event" *ngIf="event">
	<div class="flex-space-between event__header">
		<h2>{{ event.title }}</h2>
		<img [src]="event.type | eventIcon" alt="type event" />
	</div>
	<div class="event__description">
		<div class="event__description-content">
			<p>{{ event.description }}</p>
		</div>
		<div class="event__description-date">
			<p>Начало:&nbsp;{{ event.timeStart | date : 'yyyy MM dd' }}</p>
			<p *ngIf="event.timeEnd">
				Конец:&nbsp;{{ event.timeEnd | date : 'yyyy MM dd' }}
			</p>
		</div>
	</div>
	<div class="flex-space-between event__actions">
		<img
			class="event__actions--marker"
			src="../../../assets/icons/marker-map.svg"
			alt="marker"
		/>
		<button class="event__actions--members">Участники</button>
		<div class="event__actions--changes">
			<img
				src="../../../assets/icons/edit.svg"
				alt="edit"
				(click)="updateEvent()"
			/>
			<img
				src="../../../assets/icons/trash.svg"
				alt="trash"
				(click)="deleteEvent()"
			/>
		</div>
	</div>
</div>

<div>
	<ng-container #modalFormEvent></ng-container>
</div>
