<div>
	<div class="input_time">
		<input
			(click)="isOpen = !isOpen"
			class="time_now"
			[value]="inputSelectTime ? inputSelectTime : timeNow"
			readonly
		/>
	</div>
	<div *ngIf="isOpen">
		<div class="flex">
			<div class="clock_block">
				<button
					class="add_hour_up"
					(click)="incrementOrdecrementHourTime('HOUR', 'INCREMENT')"
				></button>
				<input class="time" [value]="hourNow" readonly />

				<button
					class="add_hour_down"
					(click)="incrementOrdecrementHourTime('HOUR', 'DECREMENT')"
				></button>
			</div>

			:
			<div class="clock_block">
				<button
					class="add_hour_up"
					(click)="
						incrementOrdecrementHourTime('MINUTE', 'INCREMENT')
					"
				></button>
				<input
					class="time"
					type="text"
					[value]="correctMinutes() || minutesNow"
					readonly
				/>
				<button
					class="add_hour_down"
					(click)="
						incrementOrdecrementHourTime('MINUTE', 'DECREMENT')
					"
				></button>
			</div>

		
		</div>
		<button (click)="selectTime()">Выбрать дату</button>
	</div>
</div>
