<div class="card flex-space-between">
	<div class="card__about-profile">
		<img [src]="user.image" alt="avatar" />
		<input
		type="file"
		(change)="saveImage($event)"
		accept="image/*"
		/>
		<div class="card__about">
			<h2>{{ user.name }}</h2>
			<div class="card__about-me">
				<span>Обо мне:</span>
				<div>
					<ul>
						<li
							class="card__about-me--items"
							*ngFor="let item of features"
						>
							{{ item }}
						</li>
					</ul>
				</div>
			</div>
			<div class="card__about--rating">
				<span>Рейтинг:</span>
				<span class="card__about--rating--value">{{ rating }}</span>
			</div>
		</div>
	</div>
	<button (click)="exit()" class="sign-out-btn">Выйти</button>
	<div class="card__action-profile">
		<div class="card__action-profile--top">
			<button *ngIf="isRemoteProfile" (click)="changeEmitSuggest()">{{ pendingSuggest ? 'Запрос в друзья отправлен' : 'Добавить в друзья' }}</button>
		</div>
	</div>
</div>
