<div class="card flex-space-between">
  <div class="card__about-profile">
    <img src="" alt="avatar" />
    <div class="card__about-me">
      <h2>{{ user.name }}</h2>
      <div>
        <span>Обо мне:</span>
        <p *ngFor="let item of user.features">
          {{ item }}
        </p>
      </div>
      <span>Рейтинг:</span>
    </div>
  </div>
  <div class="card__action-profile">
    <div class="card__action-profile--top">
      <button>Реадактировать профиль</button>
    </div>
  </div>
</div>
