  <div class="search-filters">
      <div class="filters">
          <div class="filters-elem">
              <span>Дата:</span>
              &nbsp;
              <a href="#">ссылка</a>
          </div>
          <div class="filters-elem">
              <span>Время:</span>
              &nbsp;
              <a href="#">ссылка</a>
          </div>
          <div class="filters-elem">
              <span>Место:</span>
              &nbsp;
              <a href="#">ссылка</a>
          </div>
      </div>
      <div class="search-button">
          <button class="button">Найти</button>
          <img
        src="../../../assets/icons/general/additional-settings.svg"
        alt="additional-settings"
      />
      </div>
  </div>
