<div class="modal">
  <div
    class="modal__container"
    app-out-side-click
    (outSideClick)="destroyModal()"
  >
    <h2>Изменить пароль</h2>
    <form [formGroup]="changePasswordForm" (submit)="submitForm()">
      <input formControlName="email" type="text" />
      <input formControlName="password" type="password" />
      <input formControlName="newPassword" type="password" />
      <button>Получить код</button>
    </form>
    <div class="modal__child">
      <ng-container #modal></ng-container>
    </div>
  </div>
</div>
