<div class="select" app-out-side-click (outSideClick)="close()">
	<button class="select-button" type="button" (click)="open()">
		<input [formControl]="searchControl" />
	</button>
	<!--<div class="select-img">
    <img
      *ngIf="isShowImage"
      src="../../../assets/icons/{{ activeTypeImage }}.svg"
    />
  </div>-->
	<ng-container *ngIf="!isDropDown; else dropDown"></ng-container>
</div>

<ng-template #dropDown>
	<div>
		<div *ngFor="let item of list">
			<p (click)="selected(item.name, item.type)">
				{{ item.name }}
			</p>
		</div>
	</div>
</ng-template>
