@use '../../../mixins.scss' as Mixins;

.profile {

	&__my-events {
		margin-bottom: 20px;

		&-sort {
			display: flex;
			align-items: center;

			&--label {
				font-weight: 700;
				font-size: 12px;
				line-height: 15px;
				margin-right: 17px;
			}
		}
	}

	&__events {
		@include Mixins.flex-wrap;
	}
}
