<div class="modal">
	<div class="wrapper" app-out-side-click (outSideClick)="destroyModal()">
		<form (ngSubmit)="submitEvent()" [formGroup]="eventForm">
			<div class="modal_text">
				<label for="title">Название:</label>
				<input formControlName="title" type="text"/>
				<p>До 30 символов</p>
			</div>
			<div class="modal_text">
				<label> Описание:</label>
				<textarea id="desc_area" formControlName="description"></textarea>
			</div>
			<div class="modal_text">
				<label>Место</label>
				<p (click)="showOrHideMap()">Мое местоположение</p>
				<app-map
					*ngIf="isShowMap"
					(closeMap)="getCoordinates($event)"
				></app-map>
			</div>
			<div class="modal_text">
				<label>Начало:</label>
				<app-date-picker></app-date-picker>
			</div>
			<div class="modal_text" *ngIf="isShowEndDate">
				<label>Конец:</label>
				<app-date-picker></app-date-picker>
			</div>
			<div class="checkbox_end_time">
				<input
					[checked]="isShowEndDate"
					(click)="showOrHideEndDate()"
					type="checkbox"
				/>
				<label>Добавить время окончания события</label>
			</div>
			<div class="modal_text">
				<label>Тип:</label>
				<app-select
					[listType]="listTypeEvent"
					[isShowImage]="true"
					(emitOptionSelect)="setOptionSelect($event)"
				></app-select>
			</div>
			<button type="submit">Создать событие</button>
		</form>
	</div>
</div>
