<div class="modal">
	<div class="wrapper" app-out-side-click (outSideClick)="destroyModal()">
		<form class="event-form-container" (ngSubmit)="submitEvent()" [formGroup]="eventForm">
			<div class="modal-block">
				<label class="modal-block__label">Название:</label>
				<div class="modal-block__actions">
					<input class="modal-block__input" formControlName="title" type="text"/>
					<p class="modal-block__tip">До 30 символов</p>
				</div>
			</div>

			<div class="modal-block">
				<label class="modal-block__label"> Описание:</label>
				<div class="modal-block__actions">
					<textarea class="modal-block__input" id="desc_area" formControlName="description" maxlength="300"></textarea>
					<p class="modal-block__tip">Кол-во символов 0 / 300</p>
				</div>
			</div>

			<div class="modal-block">
				<label>Место:</label>
				<p class="modal-block-link" (click)="showOrHideMap()">Мое местоположение</p>
      </div>
      <app-map
        *ngIf="isShowMap"
        (closeMap)="getCoordinates($event)"
      ></app-map>

			<div class="modal-block">
				<label class="modal-block__label">Начало:</label>
				<div class="modal-block__actions">
					<app-date-picker></app-date-picker>
				</div>
			</div>

			<div class="modal-block" *ngIf="isShowEndDate">
				<label class="modal-block__label">Конец:</label>
				<div class="modal-block__actions">
					<app-date-picker></app-date-picker>
				</div>
			</div>

			<div class="modal-block-inline">
				<input
          class="modal-block-inline-checkbox"
          [checked]="isShowEndDate"
					(click)="showOrHideEndDate()"
					type="checkbox"
				/>
        <div class="modal-block-inline-checkmark"></div>
				<label>Добавить время окончания события</label>
			</div>

			<div class="modal-block">
				<label class="modal-block__label">Тип:</label>
				<div class="modal-block__actions">
          <app-select
            [listType]="listTypeEvent"
            [isShowImage]="true"
            (emitOptionSelect)="setOptionSelect($event)"
          ></app-select>
        </div>
			</div>

			<button type="submit">Создать событие</button>
		</form>
	</div>
</div>
