.time_modal {
	position: relative;
	max-width: 100px;
	border: 1px solid rgb(45, 44, 44);
	min-width: 420px;
	height: 300px;
	border-radius: 10px;
	padding: 10px;
}
.close {
	width: 35px;
	height: 35px;
	position: absolute;
	top: -30px;
	right: -30px;
}
