<form class="sign" [formGroup]="changePasswordForm" (submit)="submitForm()">
	<label for="email">Почта:</label>
	<input class="auth__input" formControlName="email" type="text" />
	<label for="oldPassword">Старый пароль:</label>
	<input class="auth__input" formControlName="oldPassword" type="password" />
	<label for="newPassword">Новый пароль:</label>
	<input class="auth__input" formControlName="newPassword" type="password" />
	<button class="sign__submit" type="submit">Отправить код</button>
	<a (click)="redirectToSignIn()">Назад</a>
</form>
