<div class="card flex-space-between padding-space">
    <div class="card__about-profile">
        <img src="" alt="avatar">
        <div class="card__about-me">
            <h2></h2>
            <div>
                <span>Обо мне:</span>
                <p></p>
            </div>
            <span>Рейтинг:</span>
        </div>
    </div>
    <div class="card__action-profile">
        <div class="card__action-profile--top">
         <button>Запросы на подписку</button>
         <button>Редактировать профиль</button>
         <button>Выйти</button>
        </div>
        <div class="card__action-profile--bottom">
            <button>Создать событие</button>
        </div>
    </div>
</div>