@mixin vertical-line($background, $with-border, $color-border) {
  background: $background;
  min-height: 100%;
  border: $with-border solid $color-border;
}

@mixin font-face(
  $font-family,
  $format-file: 'Regular',
  $font-weight: 500,
  $font-style: normal
) {
  $filePath: './assets/font/' + $font-family + '/' + 'static/' + $font-family +
    '-' + $format-file;
  @font-face {
    font-family: $font-family;
    src: url($filePath + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
}
