/* You can add global styles to this file, and also import other style files */
@use './mixins.scss' as Mixins;
@use './variables.scss' as Variables;
@use './app/styles/toast.style.scss';
@use './app/styles/card.style.scss';

@include Mixins.font-face('Inter', 'Regular');

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

body {
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter';
  background: Variables.$light-gray;
  padding: 0 63px;
}

input:focus {
  outline: 0;
}

app-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.auth {
  &__input {
    border-radius: 2px;
    border: 2px solid Variables.$light-gray;
    &.ng-invalid:not(.ng-untouched):not(.ng-pristine) {
      border: 2px solid Variables.$input__auth--error;
    }
  }
}

.vertical-line-gray-thin {
  @include Mixins.vertical-line(
    Variables.$light-gray,
    2px,
    Variables.$light-gray
  );
}

.flex-space-between {
  @include Mixins.flex-space-between;
}

.card {
  background: #fff;
  border-radius: 15px;
}
