/* You can add global styles to this file, and also import other style files */
@use './mixins.scss' as Mixins;
@use './variables.scss' as Variables;

@use './app/styles/toast.style.scss';
@use './app/styles/card.style.scss';
@use './app/styles/modal.style.scss';

@include Mixins.font-face('Inter', 'Regular');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
  cursor: pointer;
	text-decoration: none;
	color: #000;
}

ul {
	list-style-type: none;
}

body {
	overflow: hidden;
}

app-root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Inter';
	background: Variables.$light-gray;
}

input, textarea {
	width: 100%;
	border: 2px solid Variables.$light-gray;
	border-radius: 6px;
	font-size: 16px;
	padding: 6px;
}

button {
	cursor: pointer;
	background: none;
}

.content {
	margin-top: 29px;
	padding: 0 63px;
}

.auth {
	&__input {
		padding: 3px;
		font-size: 14px;
		border-radius: 2px;
		border: 2px solid Variables.$light-gray;
		&.ng-invalid:not(.ng-untouched):not(.ng-pristine) {
			border: 2px solid Variables.$input__auth--error;
		}
	}
}

.vertical-line-gray-thin {
	@include Mixins.vertical-line(
		Variables.$light-gray,
		1px,
		Variables.$light-gray
	);
}

.flex-space-between {
	@include Mixins.flex-space-between;
}

.card {
	background: #fff;
	border-radius: 15px;
}

.hidden {
	display: none !important;
	padding: 0 !important;
}
