$input__auth--error: rgba(255, 0, 0, 0.38);
$light-gray: #e1e1e1;
$gray-btn: #f8f8f8;
$light-blue: #74abff;
$gray: #828282;
$gray-50: rgba(0, 0, 0, 0.5);
$orange: #eba831;
$background-light-blue: #79a7d2;
$background-light-blue-btn: #c8e2fa;
$color-blue: #1F3B9C;

// text-size
