<ng-container [ngTemplateOutlet]="isShowVerifyComponent ? verify : resetPassword"></ng-container>

<ng-template #resetPassword>
  <div class=" reset-password">
    <button type="button"> back button</button>
    <div>
      <h2>Изменить пароль</h2>
      <form class="sign" [formGroup]="changePasswordForm" (submit)="submitForm()">
        <label for="email">Почта:</label>
        <input formControlName="email" type="text" />
        <label for="password">Старый пароль:</label>
        <input formControlName="password" type="password" />
        <label for="newPassword">Новый пароль:</label>
        <input formControlName="newPassword" type="password" />
        <button type="submit">Отправить код</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #verify>
  <app-verify [email]="changePasswordForm.controls.email.value"></app-verify>
</ng-template>